<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="10" name="Test">
    <classes>
      <class name="com.example.springBootTest.user.DemoTestng">
      	<methods>
      		<include name="test3" />
      		<include name="test1" />
      		<include name="test2" />
      	</methods>
      </class>
      <class name="com.example.springBootTest.user.NewTest"/>
      
      <class name="com.example.springBootTest.mvc.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
